* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    margin: 0;
    background: white;
    color: black;
}


/* Header */

header {
    background: #3cff5a;
    height: 75px;

    display: flex;
    align-items: center;

    padding: 10px 25px;
}


.logo {
    width: 45px;
    height: 45px;

    object-fit: contain;

    margin-right: 15px;
}


header h3 {
    margin: 0;

    font-size: 28px;
    color: black;
}


nav {
    margin-left: auto;

    display: flex;

    gap: 25px;
}


nav a {
    color: black;

    text-decoration: none;

    font-size: 17px;

    font-weight: bold;
}


nav a:hover {
    text-decoration: underline;
}



/* Hero */

.hero {

    background: linear-gradient(
        #3cff5a,
        white
    );

    text-align: center;

    padding: 90px 20px;

}


.hero h1 {

    font-size: 70px;

    margin: 10px;

}


.hero p {

    font-size: 24px;

}



/* Buttons */

.button {

    display: inline-block;

    margin-top: 25px;

    padding: 15px 35px;


    background: #3cff5a;

    color: black;


    border-radius: 12px;

    border: 2px solid black;


    text-decoration: none;

    font-weight: bold;

    cursor: pointer;

}


.button:hover {

    background: black;

    color: white;

}



/* Sections */

section {

    padding: 50px 10%;

    text-align: center;

}


h2 {

    background: #3cff5a;

    color: black;


    padding: 15px 30px;


    border-radius: 10px;


    display: inline-block;

}



/* Feature Cards */

.cards {

    display: flex;

    justify-content: center;

    gap: 25px;

    flex-wrap: wrap;

}


.card {

    background: #f2f2f2;


    padding: 25px;


    width: 280px;


    border-radius: 15px;


    border: 2px solid #3cff5a;

}


.card h3 {

    color: #168f2b;

}



/* Playground */


textarea {

    width: 90%;

    height: 300px;


    background: #111;


    color: #3cff5a;


    padding: 20px;


    font-size: 18px;


    border-radius: 15px;


    border: 3px solid #3cff5a;


    font-family: monospace;

}



#output {

    margin: 20px auto;


    width: 90%;


    min-height: 80px;


    background: black;


    color: white;


    padding: 20px;


    border-radius: 10px;


    text-align: left;


    font-family: monospace;

}



/* Variables Documentation */


.docs {

    background: #f5f5f5;


    padding: 30px;


    border-radius: 15px;


    text-align: left;

}



.docs p {

    font-size: 18px;


    padding: 10px;


    border-bottom: 1px solid #ddd;

}



.docs b {

    color: #168f2b;

}



/* Footer */


footer {

    background: #3cff5a;


    padding: 25px;


    text-align: center;


    font-weight: bold;

}
